<div class="col-xs-12 col-sm-6">
  <div class="girl">
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag "http://placehold.it/30x30", class: "img-circle" %>
      </div>
      <div class="col-xs-8">
        <h2><%= girl.name %></h2>
        <p class="city"><%= girl.city %></p>
        <p><%= girl.age %></p>
      </div>
    </div>
  </div>
</div>
