<div class="footer">
	<hr class="primary">
    <p align="center">
    	<a href="https://twitter.com/lordagency" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>

    	<a href="https://github.com/pldk" class="btn btn-primary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>

    	<a href="https://be.linkedin.com/pub/philippe-de-liedekerke/70/425/906" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
    </p>
	<hr class="primary">
	<br> 
	<i><p align="center">©  <%= link_to "L.W.A", "http://ldk.agency", :target => '_blank' %> <%= Time.now.year %> </p></i>
</div>