<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>LdK</h1>
            <h3>Web Solutions Agency</h3>
            <hr>
            <p>As a full service digital agency,<br>
            your seamless digital experience begins here.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

