<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Ruby on nails</h3>
                    <p class="text-muted">We consistently deliver outstanding results for our clients - and our philosophy ‘digital brand engagement’ permeates everything we do.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to fly</h3>
                    <!-- <p class="text-muted">Our formula is simple.</p> -->
                    <p class="text-muted"> We combine consultative strategy, exceptionally creative ideas and innovative technology solutions to deliver measurable results for our clients.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">Improve the way you interact with customers online, using our tailored technology solutions to suit your online needs.</p>
                    <!-- and tailored digital marketing services -->
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Our end goal is to ensure our client’s brand engages with their customers, and builds a sustainable meaningful relationship.</p>
                </div>
            </div>
        </div>
    </div>
</section>

